dist
node_modules
.idea
.vscode
.eslintcache
*.iml
pnpm-error.log
test/resources/platforms/*
test/resources/log.txt
test/resources/report.txt
test/resources/report_platforms.txt
test/resources/log_platforms.txt
test/resources/bad-filters/*/diff.txt
test/resources/filters/*/diff.txt
test/resources/filters/*/filter.txt
test/resources/filters/*/revision.json
