dist
node_modules
.idea
.vscode
.eslintcache
*.iml
yarn-error.log
src/test/resources/platforms/*
src/test/resources/log.txt
src/test/resources/report.txt
src/test/resources/report_platforms.txt
src/test/resources/log_platforms.txt
src/test/resources/bad-filters/*/diff.txt
src/test/resources/filters/*/diff.txt
src/test/resources/filters/*/filter.txt
src/test/resources/filters/*/revision.json
